@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>asdiasopdipoasidpo ias podi posai dopsai pdoiaspo idpasoi podiasp oiaspo id opasi dpoiasd poias podiasopi d</p>