@model IEnumerable<WMS.Core.ContactInfo>

<h1>Searched Contacts</h1>

@if (Model != null && Model.Any())
{
    <table id="baseContent" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var contact in Model)
                {
                    <tr>
                        <td>@contact.ID</td>
                        <td>@contact.Email</td>
                        <td>@contact.PhoneNumber</td>
                        <td>
                            <a href="/Contact/DeleteContact/@contact.ID" class="btn btn-danger">Delete</a>
                            <a href="/Contact/EditContact/@contact.ID" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <p>No results found</p>
}
