@using Microsoft.AspNetCore.Identity
@inject UserManager<WMS.Core.ApplicationUser> _userManager;
@inject SignInManager<WMS.Core.ApplicationUser> _signInManager;

@{
    if (_signInManager.IsSignedIn(User))
    {
        var currentUser = await _userManager.GetUserAsync(User);
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/img/admin-icon.png" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">@currentUser.FirstName @currentUser.LastName</h6>
                <span>Admin</span>
            </div>
        </div>
    }

    else
    {
        <p>you need to sign in first</p>   
    }
}

