@model IEnumerable<WMS.Core.ContactInfo>
@{
    ViewData["Title"] = "All Contacts in the system";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<a href="/Contact/CreateContact" class="btn btn-primary">Create new Contact</a>

<form id="searchForm" action="/Contact/SearchContact" class="d-flex my-4">
    <input class="form-control me-3" name="query" placeholder="Search Contact .." />
    <button class="btn btn-primary">Search</button>
</form>

<div id="searchResults">

</div>

<table id="baseContent" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.ID</td>
                    <td>@contact.Email</td>
                    <td>@contact.PhoneNumber</td>
                    <td>
                        <a href="/contact/delete/@contact.ID" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                        <a href="/contact/edit/@contact.ID" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#searchForm').submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (result) {
                    $('#baseContent').hide();
                    $('#searchResults').html(result);
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>