@model WMS.Core.ContactInfo
@{
    ViewData["Title"] = $"Edit contact {Model.ID}";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label class="form-label">
            Email
            <input type="text" name="Email" class="form-control" value="@Model.Email"/>
        </label>
    </div>

    <div class="form-group">
        <label class="form-label">
            Phone Number
            <input type="text" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
        </label>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Edit Contact</button>
        <a href="/Contact/AllContacts" class="btn btn-secondary">Back to list</a>
    </div>
</form>